<!DOCTYPE html>
<html>

<head>
  <title>Science Timeline</title>
  <link rel="stylesheet" type="text/css" media="screen" href="lineStyle.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

 
  <div id="app" class="container">
    <h4>Timeline</h4>

    <hr/>
    
    <div class="timeline">
        <ul>
          <li v-for="scientist in scientists" >
            <span></span>
            <div style="font-size: 16px; font-weight: bold">{{ scientist.name }}</div>
            <div style="font-size: 16px">{{ scientist.birth }}</div>
            <div style="font-style:italic">{{ scientist.biography }}</div>
            <div class="year">
              <span>{{ scientist.years }}</span>
            </div>
          </li>
        </ul>
    </div>
    <div v-if="active">
      <div class="ui card" v-for="scientist in scientists">
          <!-- <div class="image">
            <img v-bind:src="scientist.img">
          </div> -->
          <div class="content">
            <a class="header">{{scientist.name}}</a>
            <div class="meta">
              <span class="date">{{scientist.birth}}</span>
            </div>
            <div class="description">
              {{scientist.biography}}
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="user icon"></i>
              22 Friends
            </a>
          </div>
      </div>
    </div> 
    <div v-on:mouseover="active = !active">
        <div class="ui card" v-for="scientist in scientists">
            <div class="image2">
              <img v-bind:src="scientist.img">
            </div>
        </div>
     </div>

    
  </div>



  <script type="text/javascript" src="line.js"></script>
</body>
</html>